.album-list-container {
    position: relative;
    max-width: 2400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.album-list-container .album {
    width: 350px;
    position: relative;
    margin: 20px 20px;
    flex-direction: column;
    transition: 0.3s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px
}

.album .button-row {
    display: flex;
    justify-content: space-between;
    width: 350px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.album .button-row .left-button {
    display: flex;
    justify-content: flex-start;
}

.album .button-row .right-button {
    display: flex;
    justify-content: flex-end;
}

.album .button {
    margin: 0 10px;
}

.album-list-container .album .imgBx {
    position: relative;
    height: 400px;
    width: 400px;
    top: -50px;
    left: 40px;
}

.album-list-container .album .imgBx img {
    object-fit: cover;
    transition: transform 0.3s cubic-bezier(0.5, 0, 0.1, 1), box-shadow 0.3s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


.album .album-imgBx img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    /* smooth hover transition */
    max-width: 100%;
    /* border-radius: 10px; */
    transition: transform 0.3s cubic-bezier(0.5, 0, 0.1, 1);
    /* smooth hover transition */
    margin-top: 10px;
}

.album-imgBx:hover img {
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.album p {
    margin: 0;
    padding: 5px;
}

.album .artist {
    text-transform: uppercase;
    font-size: 20px;
}

.album .genre {
    text-transform: uppercase;
    font-family: 'Work Sans', sans-serif;
    font-style: italic;
    padding-top: 10px;
}

.album .title {
    overflow: hidden;
    text-overflow: ellipsis;
    letter-spacing: 2px;
    padding-top: 20px;
    text-align: center;
    align-items: center;
    font-size: 25px;
    justify-content: center;
    width: 340px;
}