.profile-box {
    width: 1000px;
    background-color: rgb(28, 28, 28);
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
}

.profile-box img {
    float: left;
    margin-right: 40px;
    margin-left: 40px;
}

.profile-name {
    font-family: 'DM Sans', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 40px;
    padding-top: 10px;
}

.profile-username {
    font-family: 'DM Sans', sans-serif;
    text-transform: uppercase;
    font-style: italic;
    font-weight: lighter;
    font-size: 20px;
    margin-top: -40px;
    color: whitesmoke;

}

.profile-contents {
    padding-right: 30px;
    padding-bottom: 30px;
    width: 400px;
}

.profile-bio {
    font-family: 'DM Sans', sans-serif;
    width: 400px;
}

.profile-joined {
    font-weight: lighter;
}

.profile-taste {
    font-size: 40px;
    color:whitesmoke;
    text-align: center;
    padding: 20px;
}

.profile-border {
    border: 1px solid whitesmoke;
    border-radius: 50%;
    border-width: 2px;
    display: flex;
    justify-content: center;
}