/* Home container and elements
.home-container {
    text-align: center;
    color: rgb(255, 255, 255);
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(https://images.pexels.com/photos/164872/pexels-photo-164872.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
/* Image for second container block on parallax scroll */
/* .second {
    background-image: url(https://images.pexels.com/photos/167092/pexels-photo-167092.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
    background-attachment: fixed;
    height: 1200px;
    flex-direction: row;
    gap: 1.6em;
} */

/* Divider block */
/* .blank,
.other {
    text-align: center;
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 60vh;
    background: rgb(31, 32, 41);
    background: radial-gradient(circle, rgb(0, 0, 0) 0%, rgba(42, 43, 56, 1) 50%, rgba(196, 195, 202, 1) 100%);
} */

/* Brochure cards on home page */
/* .home-item {
    display: flex;
    max-width: 320px;
    background-color: white;
    ;
    flex-direction: column;
    align-items: center;
    border-radius: .5em;
    -webkit-box-shadow: 0px 29px 38px -15px rgba(0, 0, 0, 0.43);
    -moz-box-shadow: 0px 29px 38px -15px rgba(0, 0, 0, 0.43);
    box-shadow: 0px 29px 38px -15px rgba(0, 0, 0, 0.43);
} */

/* Image styling for brochure cards on home page */
/* .img {
    width: 90%;
    height: 200px;
    background-color: lightgrey;
    background-size: cover;
    background-position: center;
    margin-top: 20px;
    border-radius: .3em;
    ;
} */
/* .img-first {
    background-image: url(https://images.pexels.com/photos/2191013/pexels-photo-2191013.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
}

.img-second {
    background-image: url(https://images.pexels.com/photos/351265/pexels-photo-351265.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2://images.pexels.com/photos/1633522/pexels-photo-1633522.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
}

.img-third {
    background-image: url(https://images.pexels.com/photos/4200745/pexels-photo-4200745.jpeg);
}
 */ 
