.text {
    max-width: 52ch;
    line-height: 1.5;
    padding: 1em;
    color: #333;
}

p-hero {
    max-width: 52ch;
    line-height: 2.5;
    padding: 1em;
    margin-bottom: 10px;
    letter-spacing: .5px;
    color: rgb(255, 255, 255);
    font-family: 'DM Sans', sans-serif;

}


.card>a {
    margin-bottom: 2em;
}
