.comment {
    margin: 0.5rem;
    padding: .5rem;
}


.comment-list-container {
    align-content: center;
    margin: -40px;
    padding-top: 50px;
}

.commentForm {
    align-content: center;
    margin: 50px;
    text-align: center;
}

.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}

.comment-body {
    color: grey;
    word-wrap: break-word;
    max-width: 250px; 
    min-width: 250px;
}

.comment-box img {
    order: -1;
    margin-right: 1rem;
}
.comment-box {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    /* border-bottom: 1px solid #ccc; */
    padding-top:20px;
    border-top: 1px solid #ccc;
}

.comment-content {
    max-width: 250px;
}

.comment-delete {
    margin-top: auto;
}

.comment-button {
    align-items: center;
}