@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital@1&display=swap');

.review-body {
    display: flex;
    justify-content: center;
    background-color: rgb(220, 194, 45);
}

.review-list-container {
    position: relative;
    max-width: 2400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.review-detail-container {
    display: flex;
    flex-direction: row;
}

.review-details-wrapper {
    flex-basis: 50%;
    padding-right: 20px;
}

.comment-list-wrapper {
    flex-basis: 50%;
    padding-left: 20px;
}

.review-list-container .card {
    width: 350px;
    position: relative;
    height: 700px;
    background-color: white;
    margin: 20px 10px;
    /* padding: 20px 20px; */
    flex-direction: column;
    transition: 0.3s ease-in-out;
    margin-top: 5%;
    /* border-radius: 10px; */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px
}

.review-list-container .card .imgBx {
    position: relative;
    width: 300px;
    height: 270px;
    top: -50px;
    left: 40px;
}

.review-list-container .card .imgBx img {
    max-width: 280px;
    height: 280px;
    width: 280px;
    object-fit: cover;
    max-width: 100%;
    transition: transform 0.3s cubic-bezier(0.5, 0, 0.1, 1), box-shadow 0.3s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


.card .imgBx img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    /* smooth hover transition */
    max-width: 100%;
    /* border-radius: 10px; */
    transition: transform 0.3s cubic-bezier(0.5, 0, 0.1, 1);
    /* smooth hover transition */
}

.imgBx:hover img {
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.card p {
    margin: 0;
    padding: 5px;
}

.card .artist {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
    padding-top: 20px;
}

.card .description {
    font-size: 13px;
    color: grey
}

.card .username {
    text-transform: uppercase;
    color: #8f908f;
    font-size: 13px;
}

.card .genre {
    text-transform: uppercase;
    font-family: 'Work Sans', sans-serif;
    font-style: italic;
    padding-top: 20px;
    padding-right: 10px;

}

.card .title {
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: 'DM Sans', sans-serif;
    letter-spacing: 2px;
    text-align: center;
    font-size: 25px;
    margin-top: -60px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
}

.card .rating {
    text-transform: uppercase;
    float: right;
    font-family: 'DM Sans', sans-serif;
    font-size: 50px;
    font-style: italic;
    padding-top: 50px;
    position: absolute;
    bottom: 20px;
    right: 20px;
}


.card .button-row {
    padding-top: 20px;
    position: absolute;
    bottom: 40px;
}

.btn-bigger {
    font-size: 1.2em;
    padding: 12px 24px;
}

.reviewForm {
    align-content: center;
    margin: 50px;
    text-align: center;
}

.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}

.create-review-list-container {
    text-align: center;
    color: rgb(255, 255, 255);
    align-content: center;
    margin: 100px;
}

/* Styling for search component */
input.search {
    padding-top: 64px;
    margin: 30px;
    font-size: 22px;
    font-weight: 900;
    text-align: center;
    width: 200px;
    padding: 12px 24px;
    background-color: transparent;
    transition: transform 250ms ease-in-out;
    font-size: 14px;
    line-height: 18px;
    color: #575756;
    background-color: transparent;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 18px 18px;
    background-position: 95% center;
    border: 3px solid #ffffff;
    transition: all 250ms ease-in-out;
    backface-visibility: hidden;
    transform-style: preserve-3d;

    color: color(#7f7f7f a(0.8));
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

.search:hover,
.search:focus {
    outline: 0;
    border: 1px solid transparent;
    border-bottom: 1px solid #7f7f7f;
    border-radius: 0;
    background-position: 100% center;
}

.center-elements {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.search-container {
    padding-right: 100px;
}


.review-components {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
}

.review-components>div {
    flex-basis: 33.33%;
}

.review-components .review-search-wrapper {
    order: 1;
}

.review-components .review-button-wrapper {
    order: 2;
}

.review-components .review-filter-wrapper {
    order: 3;
}

.review-components .review-button-wrapper button {
    margin: 0 auto;
}

@media screen and (max-width: 768px) {
    .review-components {
        flex-wrap: wrap;
    }

    .review-components>div {
        flex-basis: 100%;
    }

    .review-components .review-search-wrapper {
        order: 1;
    }

    .review-components .review-button-wrapper {
        order: 3;
    }

    .review-components .review-filter-wrapper {
        order: 2;
    }
}

.review-components {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.review-search-wrapper {
    flex-basis: 30%;
}

.review-button-wrapper {
    flex-basis: 30%;
    display: flex;
    justify-content: center;
}

.review-filter-wrapper {
    flex-basis: 30%;
    text-align: right;
}

/* Dropdown */

.reviews__dropdown {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reviews__dropdown h4 {
    margin-bottom: 8px;
}

.reviews__dropdown select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: #fff;
    appearance: none;
    width: 100%;
    max-width: 300px;
    box-shadow: none;
}

.reviews__dropdown select:focus {
    outline: none;
    border-color: #4e73df;
    box-shadow: 0 0 0 0.2rem rgba(78, 115, 223, 0.25);
}

.create-review-list-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.reviewForm {
    background-color: #fff;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
    text-align: center;
}

.create-title,
.create-artist,
.create-text,
.create-genre,
.create-rating {
    margin-bottom: 15px;
}

.create-title input,
.create-artist input,
.create-text input,
.create-genre select,
.create-rating select {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #f5f5f5;
}

.create-genre select,
.create-rating select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='rgb(117, 117, 117)' d='M2 0 L0 2 L4 2 Z'/%3E%3C/svg%3E");
    background-position: right 10px center;
    background-repeat: no-repeat;
    background-size: 8px 10px;
}

