.review-detail-container .detail-card {
    width: 600px;
    position: relative;
    min-height: 650px;
    background-color: white;
    margin-top: -60px;
    flex-direction: column;
    transition: 0.3s ease-in-out;
}

.review-detail-container {
    padding: 50px;
}

.review-detail-container .second {
    position: relative;
    max-width: 2400px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: -50px;
}

.review-list-container .second {
    position: relative;
    width: 1300px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: -50px;
    left: 0;
}

.review-list-container .detail-card .detail-imgBx {
    width: 500px;
    height: 500px;
}

.review-list-container .detail-card .detail-imgBx img {
    object-fit: cover;
}

.detail-card p {
    margin: 0;
    padding: 5px;
}

.box {
    border: 1px solid black;
    border-radius: 50%;
    border-width: 2px;
    padding: 10px;
    width: 105px;
}

.detail-card .detail-rating {
    text-transform: uppercase;
    font-family: 'DM Sans', sans-serif;
    font-size: 60px;
    font-style: italic;
    color: rgb(185, 26, 26);
}

.detail-card .detail-artist-genre-container {
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 100px;
    align-items: flex-end;
    /* align items to the bottom */
    padding-right: 10px;
    padding-top: 10px;
    height: 200px;
}

.detail-card .detail-artist {
    position: absolute;
    bottom: -0;
    right: 0;
    text-transform: uppercase;
    font-size: 30px;
    max-width: 120px;
    margin: 0;
    text-align: right;
}

.detail-card .detail-genre {
    text-transform: uppercase;
    font-family: 'Work Sans', sans-serif;
    font-style: italic;
    width: 200px;
    margin-top: auto;
    margin-right: -10px;
    text-align: right;
    margin-bottom: -20px;
}



.detail-card .detail-description {
    font-size: 13px;
    color: grey;
    padding-top: 10px;
    padding-bottom: 20px;
}

.detail-card .detail-username {
    text-transform: uppercase;
    color: #707470;
    font-size: 13px;
}


.detail-card .detail-title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 40px;
    padding-top: 30px;
    text-overflow: ellipsis;
    letter-spacing: 2px;
    text-align: center;
    min-height: 100%;
    max-width: 400px;
}


.detail-link {
    position: relative;
    color: #333333;
    /* dark grey */
    text-decoration: none;
    /* remove underline */
}

.detail-link::before {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: rgb(185, 26, 26);
    transition: width 0.3s ease-out;
    /* add transition effect */
}

.detail-link:hover::before {
    width: 100%;
    /* change width to 100% when hovered over */
}